.interactive-image {
    position: relative;
    font-family: 'avantGardeDemiBT', Arial;
    cursor: default;
    z-index: 8;
}
.interactive-image .icon-button {
    position: absolute;
    z-index: 16;
    color: #fff;
    display: none;
    cursor: pointer;
    font-size: 1.6em;
}
.interactive-image .icon-button:hover {
    text-shadow: 0 0 3px #fff;
}
.interactive-image .container {
    position: absolute;
    width: 200px;
    height: 140px;
    z-index: 16;
    text-align: left;
    display: none;
    padding: 10px;
    border-radius: 1px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) !important;
    overflow: auto;
}
.interactive-image .container .title {
    font-size: 1.1em;
    width: 100%;
    text-align: left;
    font-weight: bold;
    display: inline-block;
}
.interactive-image .container .description {
    text-align: left;
    font-size: 0.8em;
    font-weight: normal;
    margin-top: 10px;
}

/* icomoon */
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?1pmg9t');
    src:url('../fonts/icomoon.eot?#iefix1pmg9t') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1pmg9t') format('truetype'),
    url('../fonts/icomoon.woff?1pmg9t') format('woff'),
    url('../fonts/icomoon.svg?1pmg9t#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-radio-checked:before {
    content: "\ea54";
}