$arrow-width: 7px;
$black-small-text: #1d2129;
$black-heading-text: #333;
$break-smartphone-portrait: 320px;

$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: '../fonts' !default;

$icon-envelop: '\e900';
$icon-cancel-circle: '\ea0d';
$icon-radio-checked: '\ea54';
$icon-share2: '\ea82';
$icon-facebook: '\e901';
$icon-twitter: '\ea96';
