.interactive-image {
  font-family: Arial, sans-serif;
  position: relative;
  z-index: 0;
  caret-color: transparent;
  cursor: default;

  .unsupported-screen {
    display: none;
    width: 120px;
    margin: 20px auto;
    padding: 20px;
    color: $black-small-text;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .6);
    font-size: 13px;
  }

  @media screen and (max-width: $break-smartphone-portrait) {
    background-image: none;
    background-color: white;
    max-width: 320px;

    .unsupported-screen {
      display: block;
    }
  }

  .hotspot {
    position: absolute;
    z-index: 8;
    width: 30px;
    height: 30px;
    color: white;
    display: none;
    cursor: pointer;
    font-size: 28px;

    &:hover {
      text-shadow: 0 0 3px white;
    }
  }

  .picture {
    max-width: 200px;
    max-height: 200px;
  }

  .item {
    position: absolute;
    z-index: 16;
    background-color: white;
    color: $black-small-text;
    min-width: 100px;
    min-height: 60px;
    height: auto;
    display: none;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .6);

    &::after,
    &::before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: ' ';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::after {
      border-bottom-color: white;
      border-width: $arrow-width;
      margin-left: -$arrow-width;
    }
  }
}
