.interactive-image {
  font-family: Arial, sans-serif;
  position: relative;
  z-index: 8;
  caret-color: transparent;
  cursor: default;

  .hotspot {
    position: absolute;
    z-index: 16;
    width: 30px;
    height: 30px;
    color: white;
    display: none;
    cursor: pointer;
    font-size: 28px;

    &:hover {
      text-shadow: 0 0 3px white;
    }
  }

  .arrow-up {
    position: absolute;
    top: -$arrow-width;
    width: 0;
    height: 0;
    border-left: $arrow-width solid transparent;
    border-right: $arrow-width solid transparent;
    border-bottom: $arrow-width solid white;
  }

  .picture {
    max-width: 200px;
    max-height: 200px;
  }

  .item {
    position: absolute;
    z-index: 32;
    background-color: white;
    color: $black-small-text;
    min-width: 100px;
    max-width: 280px;
    min-height: 60px;
    height: auto;
    display: none;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .6);
  }
}
