.interactive-image {
  .audio-item {
    padding: 15px;
    max-width: 300px;
    text-align: left;

    .caption {
      display: block;
      margin-top: 14px;
      margin-bottom: -4px;
    }

    audio {
      width: 270px;
      margin-bottom: -4px;
    }
  }
}
