.interactive-image {
  .picture-item {
    position: relative;
    max-width: 210px;
    max-height: 210px;
    margin: 20px;

    &::before {
      content: attr(data-caption);
      position: absolute;
      background: rgba(0, 0, 0, .7);
      color: white;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      font-size: 12px;
      pointer-events: none;
    }

    &.with-caption {
      &::before {
        padding: 5px;
      }
    }

    .picture {
      margin-bottom: -4px;
    }
  }
}
