.interactive-image {
  .video-item {
    padding: 15px;
    text-align: left;
  }

  .caption {
    display: block;
    margin-bottom: 15px;
  }

  video {
    width: 480px;
    height: 270px;
    margin-bottom: -4px;
  }
}
